<!doctype html>
<html lang="en">
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/add_plugin.css')}}"
        />
    </head>
    <body>
        <h1>Add new plugin</h1>
        <form method="POST" action="/add_plugin">
            <input placeholder="title" name="plugin_name" />
            <textarea placeholder="description" name="plugin_description">
            </textarea>
            <button type="submit"><a>Add</a></button>
        </form>
        <a href="/"><button class="cancel-btn">Cancel</button></a>
    </body>
</html>
