<!doctype html>
<html lang="en">
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/add_plugin.css')}}"
        />
    </head>
    <body>
        <h1>Edit plugin</h1>
        <form
            method="POST"
            action="/edit_plugin/{{ plugin.id }}"
            enctype="multipart/form-data"
        >
            <input
                placeholder="title"
                name="plugin_name"
                value="{{ plugin.name }}"
            />
            <textarea placeholder="description" name="plugin_description">
                {{ plugin.description }}
            </textarea>
            <label>Plugin file: {{ plugin.file_filename }}</label>
            <input type="file" name="plugin_file" />
            <label>Plugin image: {{ plugin.image_filename }}</label>
            <input type="file" name="plugin_image" />

            <button type="submit">Save</button>
        </form>
        <a href="/"><button class="cancel-btn">Cancel</button></a>
    </body>
</html>
