<!doctype html>
<html lang="en">
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/home.css')}}"
        />
    </head>
    <body>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <!--Greetings for person that opened panel-->
        <h1>Welcome to plugin-hub</h1>

        <!--Add more plugin button-->
        <div>
            <a href="{{ url_for('add_plugin') }}">
                <button>Add plugin +</button>
            </a>
        </div>
        <!--List of plugins that are added displayed-->
        {% if plugins %} {% for plugin in plugins %}
        <div>
            <h3>{{ plugin.name }}</h3>
            <p>{{ plugin.description }}</p>
            <a href="{{ url_for('edit_plugin', plugin_id=plugin.id) }}"
                ><button>Edit</button></a
            >
            <form
                method="POST"
                action="/delete/{{ plugin.id }}"
                style="display: inline"
                onsubmit="
                    return confirm('Czy na pewno chcesz usunąć ten plugin?');
                "
            >
                <button type="submit">Remove</button>
            </form>
        </div>
        {% endfor %} {% else %} {% endif %}
    </body>
</html>
